<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.mall.dao.PmsBrandDao">
  <resultMap id="BaseResultMap" type="com.yl.mall.entity.PmsBrand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="first_letter" jdbcType="VARCHAR" property="firstLetter" />
    <result column="factory_status" jdbcType="BIT" property="factoryStatus" />
    <result column="product_count" jdbcType="BIGINT" property="productCount" />
    <result column="product_comment_count" jdbcType="BIGINT" property="productCommentCount" />
    <result column="show_status" jdbcType="INTEGER" property="showStatus" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="big_pic" jdbcType="VARCHAR" property="bigPic" />
    <result column="brand_story" jdbcType="VARCHAR" property="brandStory" />
  </resultMap>

  <sql id="Base_Column_List">
    id, first_letter, factory_status, product_count, product_comment_count, show_status, 
    logo, big_pic, brand_story
  </sql>

  <select id="selectList" parameterType="map" resultType="com.yl.mall.entity.PmsBrand">
    select * from
        pms_brand
    where
        1=1
  </select>

  <select id="selectById" parameterType="map" resultType="com.yl.mall.entity.PmsBrand">
    select * from
        pms_brand
    <if test="id != null and id != ''">
      AND id = #{id, jdbcType=DECIMAL}
    </if>
  </select>

  <delete id="deleteById" parameterType="java.lang.Long">
    delete from pms_brand
    where id = #{id,jdbcType=DECIMAL}
  </delete>

  <insert id="insert" parameterType="com.yl.mall.entity.PmsBrand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="firstLetter != null">
        first_letter,
      </if>
      <if test="factoryStatus != null">
        factory_status,
      </if>
      <if test="productCount != null">
        product_count,
      </if>
      <if test="productCommentCount != null">
        product_comment_count,
      </if>
      <if test="showStatus != null">
        show_status,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="bigPic != null">
        big_pic,
      </if>
      <if test="brandStory != null">
        brand_story,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="firstLetter != null">
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="factoryStatus != null">
        #{factoryStatus,jdbcType=BIT},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=BIGINT},
      </if>
      <if test="productCommentCount != null">
        #{productCommentCount,jdbcType=BIGINT},
      </if>
      <if test="showStatus != null">
        #{showStatus,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="brandStory != null">
        #{brandStory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.yl.mall.entity.PmsBrand">
    update pms_brand
    <set>
      <if test="firstLetter != null">
        first_letter = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="factoryStatus != null">
        factory_status = #{factoryStatus,jdbcType=BIT},
      </if>
      <if test="productCount != null">
        product_count = #{productCount,jdbcType=BIGINT},
      </if>
      <if test="productCommentCount != null">
        product_comment_count = #{productCommentCount,jdbcType=BIGINT},
      </if>
      <if test="showStatus != null">
        show_status = #{showStatus,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        big_pic = #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="brandStory != null">
        brand_story = #{brandStory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>