<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.mall.dao.UmsRolePermissionRelationDao">

    <resultMap type="com.yl.mall.entity.UmsRolePermissionRelation" id="UmsRolePermissionRelationMap">
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="roleId" column="role_id" jdbcType="OTHER"/>
        <result property="permissionId" column="permission_id" jdbcType="OTHER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UmsRolePermissionRelationMap">
        select
          id, role_id, permission_id
        from mall.ums_role_permission_relation
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UmsRolePermissionRelationMap">
        select
          id, role_id, permission_id
        from mall.ums_role_permission_relation
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UmsRolePermissionRelationMap">
        select
          id, role_id, permission_id
        from mall.ums_role_permission_relation
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="permissionId != null">
                and permission_id = #{permissionId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mall.ums_role_permission_relation(role_id, permission_id)
        values (#{roleId}, #{permissionId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mall.ums_role_permission_relation
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="permissionId != null">
                permission_id = #{permissionId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mall.ums_role_permission_relation where id = #{id}
    </delete>

</mapper>